.block-1 {
    margin:0;
    height: 500px;
    background-color: #1F2937;
    padding-left:250px;
    padding-right:250px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;

    
}

 .header-links {
    list-style-type:none;
    display: flex;
    color:#E5E7EB;
    font-family: "Roboto";
    font-size:18px;
    font-weight:100;
    gap:20px;

    
 }

 .block-1-container{
    margin-top:100px;
    display:flex;
    
    gap:25px;
    justify-content: space-between;
 }

 .hero-text{
    font-family:"roboto";
    font-weight:bold;
    font-size: 48px;
    color:#f9faf8;
    
 }
 .sign-up{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:35px;
    border-radius: 5px;
    background-color:#3882f6;
    font-family:"roboto";
    color: white;
 }

 .hero-subtext{
    font-family:"roboto";
    font-weight:lighter;
    font-size:18px;
    color:#e5e7eb;
    
 }
.left{
    width:350px;
}
.right{
    display:flex;
    align-items: center; 
    justify-content: center;
    width:500px;
    font-family:"roboto";
    color:#e5e7eb;
    background-color:grey;
    border-radius: 5px;
}
